# Служебные файлы Python
__pycache__/
*.py[cod]

# Виртуальные окружения
.venv/
venv/

# Артефакты сборки
build/
dist/
*.egg-info/

# Настройки редакторов кода
.idea/
.vscode/

# Служебные файлы macOS
.DS_Store

# Логи и архивы (VFS генерируется скриптом, в репозиторий не попадает)
*.log
*.zip
